<div role="tabpanel" class="tab-pane active" id="dia20">
  <% @day20.each |d| %>
  <br>
  <div class="panel panel-default">

    <div class="panel-heading"><%= d.name%></div>
    <div class="panel-body">
      <%= d.desc %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<div role="tabpanel" class="tab-pane" id="dia22">
  <% @day22.each |d| %>
  <br>
  <div class="panel panel-default">

    <div class="panel-heading"><%= d.name%></div>
    <div class="panel-body">
      <%= d.desc %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<div role="tabpanel" class="tab-pane" id="dia23">
  <% @day22.each |d| %>
  <br>
  <div class="panel panel-default">

    <div class="panel-heading"><%= d.name%></div>
    <div class="panel-body">
      <%= d.desc %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
