<%= form_for(@lecture) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.body', model: Lecture.model_name.human,
        count: @lecture.errors.count) %> </h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Nome:<br>
    <%= f.text_field :name %><br>

    Descrição:<br>
    <%= f.text_area :description %><br>

    Horário de ínicio<br>
    <%= f.datetime_select :start_time %><br>

    Horário de termino<br>
    <%= f.datetime_select :end_time %><br>

    Palestrante<br>
    <%= f.text_field :panelist %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
