<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Encomp - Encontro de Computação do Norte do Espírito Santo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="menu-background" class="abrindo">
    <div id="bginterno"></div>
  </div>
  <div id="menuMobiConteudo" class="abrindo">
    <div id="bt-meno-fechar"><span class="glyphicon glyphicon-remove"></span></div>

    <div class="limpar"></div>
    <br>
    <div id="menu-miolo">
      <strong>Encomp</strong>

      <br>
      <br>


      <% if controller.controller_name == "users" && controller.action_name == "new" %>
      <ul>
        <li> <a href="<%= root_path %>"> <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; HOME</a></li>
        <li><a href="<%= root_path %>#sobre"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; SOBRE</a></li>
        <li><a href="<%= root_path %>#minicursos"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; MINICURSOS</a></li>
        <li><a href="<%= root_path %>#palastras"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; PALESTRAS</a></li>
        <li><a href="<%= user_inscription_path %>"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; INSCRIÇÕES</a></li>
        <li><a href="<%= root_path %>#mapa"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; MAPA</a></li>
      </ul>
      <% else %>
      <ul>
        <li> <a href="<%= root_path %>#inicio"> <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; HOME</a></li>
        <li><a href="<%= root_path %>#sobre"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; SOBRE</a></li>
        <li><a href="<%= root_path %>#minicursos"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; MINICURSOS</a></li>
        <li><a href="<%= root_path %>#palastras"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; PALESTRAS</a></li>
        <li><a href="<%= user_inscription_path %>"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; INSCRIÇÕES</a></li>
        <li><a href="<%= root_path %>#mapa"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; MAPA</a></li>
      </ul>
      <% end %>

    </div>

  </div>

  <div class="container" id="siteCorpo">
    <div class="row">
      <div id="topo" class="col-xs-12 col-sm-3 col-md-3">
        <div name="inicio" id="siteLogo">
          <h1><a href="/"><img class="img-responsive" src="<%= image_url("logo.png") %>" alt="Encomp" /></a></h1>
        </div>
      </div>


      <div class="limpar1"></div>
      <div id="menuMobibg">
        <div id="icomeMenumobi"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
      </div>

      <div id="siteMenu" class="col-xs-12 col-sm-9 col-md-9">
        <ul class="row">
            <li class="col-xs-2"><a href="<%= root_path %>#inicio">HOME</a></li>
            <li class="col-xs-2"><a href="<%= root_path %>#sobre">SOBRE</a></li>
            <li class="col-xs-2"><a href="<%= root_path %>#minicursos">MINICURSOS</a></li>
            <li class="col-xs-2"><a href="<%= root_path %>#palestras">PALESTRAS</a></li>
            <li class="col-xs-2"><a href="<%= user_inscription_path %>">INSCRIÇÕES</a></li>
            <li class="col-xs-2"><a href="<%= root_path %>#mapa">MAPA</a></li>
        </ul>

      </div>

    </div>
  </div>

    <% if controller.controller_name == "users" && controller.action_name == "new" %>
      <%= yield %>
    <% else %>
      <%= render partial: "layouts/other" %>
    <% end %>



  <a href="javascript:void()" id="toTop"><span class="glyphicon glyphicon-menu-up"></span></a>

  <br>
  <br>
  <br>
  <br>

  <hr>

  <div>
    <p class="text-center">&copy; Encomp 2016</p>
  </div>

  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <script type="text/javascript">


  $(function() {
    $(window).scroll(function() {
      if($(this).scrollTop() != 0) {
        $('#toTop').fadeIn();
      } else {
        $('#toTop').fadeOut();
      }
    });
    $('#toTop').click(function() {
      $('body,html').animate({
        scrollTop:0
      },800);
    });
  });



  $(function() {
    $('#siteMenu [href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });

  $( "#icomeMenumobi" ).click(function() {
    console.log("trying");
    $('.abrindo').show('600');
  });

  $( "#bt-meno-fechar" ).click(function() {
    $('.abrindo').hide('1000');
  });
  </script>
</body>
</html>
