
<div class="row">
  <h1 class="page-header">Administração</h1>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><strong>Atualmente temos <%= @inscripted_count %> inscritos, dos quais <%= @inscripted_paid %> já pagaram.</p></strong>
  </div>
</div>
<hr />
<div id="quantityAccomodation">
  <p><strong>Acomodação requisitada:</strong></p>
  <p>Não necessário: <%= @no_accomodation %></p>
  <p>Masculino: <%= @male %></p>
  <p>Feminino: <%= @female %></p>
  <p>Misto: <%= @mixed %></p>
</div>
<hr />
<div id="paymentPreference">
  <div class="row">
    <div class="col-sm-12">
      <p>
        <strong>Preferência de pagamento:</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Depósito ou transferência: </strong> <%= @opt1 %> inscritos</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><strong>Pagamento com a comissão financeira:</strong> <%= @opt2 %> inscritos</p>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <p><strong>Inscritos em cada minicurso: </strong></p>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Minicurso</th>
      <th>Total de Inscritos</th>
      <th>Total de Inscritos Confirmados</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |k| %>
      <tr>
        <td><%= k.name %></td>
        <td><%= k.users.count %></td>
        <td><%= k.users.where("paid = true").count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
