<table class="table table-hover">
  <caption>Todos os inscritos</caption>
  <thead>
    <tr>
      <th>Id</td>
      <th>Nome</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% subs.each do |sub| %>
    <tr>
      <td><%= sub.id %></td>
      <td><%= sub.name %></td>
      <td><%= sub.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <caption>Inscritos que já pagaram</caption>
  <thead>
    <tr>
      <th>Id</td>
      <th>Nome</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% subs_paid.each do |sub| %>
    <tr>
      <td><%= sub.id %></td>
      <td><%= sub.name %></td>
      <td><%= sub.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover">
  <caption>Inscritos que ainda não pagaram</caption>
  <thead>
    <tr>
      <th>Id</td>
      <th>Nome</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% subs_not_paid.each do |sub| %>
    <tr>
      <td><%= sub.id %></td>
      <td><%= sub.name %></td>
      <td><%= sub.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
