<div class="container">
  <% if DateTime.now >= DateTime.new(2016,9,1, 20, 0, 0, "-03:00") %>
    <div class="row">

        <h3 class="text-center col-sm-offset-2">INSCRIÇÃO</h2>

    </div>
    <hr />
    <% unless alert.blank? %>
      <div class="row">
        <%= alert %>
      </div>
    <% end %>
    <% unless notice.blank? %>
      <div class="row">
        <p class="text-center success-msg col-sm-offset-1"><%= notice %></p>
      </div>
    <% end %>
    <div class="row">
    <%= form_for @user, html: { id: "form-inscription-data", class: "col-sm-offset-5 col-sm-7", role: "form" },url: user_create_path do |f|%>

      <% if @user.errors.count > 0 %>
        <div id="error_explanation" class="form-group">
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-6">
          <p style="color: red" class="text-justify"><strong>Somente terão garantia de camisa do tamanho solicitado aqueles que se inscreverem até dia 12/09.</strong></p>
        </div>
      </div>
      <p><strong>Valor de inscrição:</strong> R$ 25,00</p>

      <div class="form-group">
        <%= f.label :name, "Nome" %><br />
        <%= f.text_field :name, autofocus: true, placeholder: "Ex:. Fulano da Silva" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: "Ex:. contato@encomp.com.br" %>
      </div>

      <div class="form-group">
        <%= f.label :cpf, "CPF" %><br />
        <%= f.text_field :cpf, placeholder: "Ex:. XXX.XXX.XXX-XX" %>
      </div>

      <div class="form-group">
        <%= f.label :address, "Endereço" %><br />
        <%= f.text_field :address, placeholder: "Ex:. Avenida Jose Tozzi" %>
      </div>

      <div class="form-group">
        <%= f.label :phone, "Telefone" %><br />
        <%= f.phone_field :phone, placeholder: "(xx) xxxxx-xxxx" %>
      </div>

      <div class="form-group">
        <%= f.label :university, "Universidade onde estuda" %><br />
        <%= f.text_field :university, placeholder: "Ex: UFES" %>
      </div>

      <div class="form-group">
        <%= f.label :course, "Curso" %><br />
        <%= f.text_field :course, placeholder: "Ex: Engenharia de Computação" %>
      </div>


      <div class="form-group">
        <%= f.label :shirt, "Camisa" %>
        <br />
        <%= f.select(:shirt, %w[P-Masculino M-Masculino G-Masculino GG-Masculino
          P-Babylook M-Babylook G-Babylook GG-Babylook], { index: nil }) %>
      </div>
      <div class="form-group">
        <%= f.label :accomodation, "Acomodação" %> <br>
        <%= f.select(:accomodation, ["Não necessário", "Misto", "Masculino", "Feminino"], { index: nil }) %>
      </div>
      <div class="field" id="minicourses">
        <%= f.label :courses, "Minicursos" %><br />
        <% @courses.each do |course| %>
          <% if course.vacancies_left > 0 %>
            <% if course.name == "Torneio de Programação" %>
              <input id="user_courses_torneio_de_programao" class="course-2016-09-21" type="checkbox" name="user[courses][]" value="Torneio de Programação">
              Torneio de Programação - <strong>Valor:</strong> R$20,00 por equipe - 3 membros por equipe
              <div style="display: none" id="user_team_name">
              <br />
              <p style="color: red" class="text-justify">Confirmo interesse em participar da maratona! A confirmação será enviada por email.</p>
              <!-- A data, horário e local de inscrição no Torneio será enviado por email. -->
              </div>
            <% else %>
              <% if course.name == "Visita técnica" %>
                <a style="color: black" data-toggle="tooltip" title="Rede de distribuição da Internet no ES(PoP-ES) e visitação aos laboratórios da UFES de Goiabeiras">
              <% end %>
              <%= f.check_box(:courses, {:multiple => true, class: "course-" + course.day.to_s  }, course.name, nil) %> <%= course.name %> - <strong>Valor</strong>: R$<%= course.value %>,00
              <% if course.name == "Visita técnica" %>
                </a>
                <div style="display: none" id="visita-tecnica-form">
                  <br />
                  <p style="color: red" class="text-justify">No momento a visita técnica é uma reserva de vagas. Caso seja disponibilidade, você será contatado por email. O pagamento da visita será realizado de maneira separada.</p>
                </div>
              <% end %>
              <% if course.name != "Visita técnica" %>
                - <%= course.vacancies_left %> vagas disponíveis
              <% end %>
            <% end %>

          <br />
          <% end %>
        <% end %>
      </div>
      <div class="field">

      <div class="form-group" id="payment_preference_choose">
        <%= f.label :payment_preference, "Forma de pagamento de inscrição" %> <br>
        <%= f.label :payment_preference, class: "radio-inline" do %>
          <%= f.radio_button(:payment_preference, "1") %>
          Depósito ou transferência
        <% end %>
        <%= f.label :payment_preference, class: "radio-inline" do %>
          <%= f.radio_button(:payment_preference, "2", checked: true) %>
          Pagamento direto a comissão financeira
        <% end %>
        <div id="pay_preference_bank" style="display: none">
          <p style="color: red"><strong>Em caso de depósito em conta, o comprovante deverá ser enviado em até 2 dias.</strong></p>
        </div>
      </div>
      <label>Termos e Condições de Participação</label>
      <div class="form-terms text-justify">


        <strong>Definição:</strong>
        <p>O presente documento tem por objetivo estabelecer as condições gerais para a política de privacidade do site http://www.encomp.com.br, além de esclarecer assuntos destinados à características notáveis do II Encontro Norte Capixaba de Computação, denominado II ENCOMP, evento este que acontece no campus Centro Universitário Norte do Espírito Santo da Universidade Federal do Espírito Santo.</p>
        Declaração por parte do II ENCOMP:
        <p>O II Encomp, tem o prestígio de apresentar na cidade de São Mateus, diversas palestras e minicursos afim de gerar conhecimento científico aos seus participantes. O II Encomp zela a todo momento pelo respeito à CONSTITUIÇÃO DA REPÚBLICA FEDERATIVA DO BRASIL DE 1988.</p>
        <p>A comunicação de propriedade intelectual executada por palestrantes ou participantes do II Encomp não torna o evento supracitado um mediador, ou conciliador, ou contribuinte de forma secundária para a realização de qualquer ação que esteja vinculada à propriedade intelectual.</p>
        <p>O II Encomp não possui aceitação ao SPAM, portanto o evento, acima descrito, não possui intenção de promovê-lo. Enfatiza-se a liberdade do participante de enviar para o contato encomp.ufes@gmail.com sob o direito de não receber qualquer tipo de email cuja origem ou autoria seja o II Encomp.</p>


        <strong>Declaração por parte do participante:</strong>
        <p>AUTORIZO o  uso  de  minha imagem  e  voz em todo e qualquer material entre fotos, documentos e outros meios de comunicação,  para  serem  utilizados na divulgação do II Encontro Norte Capixaba de Computação (II ENCOMP) e suas edições posteriores, evento este que acontece no campus Centro Universitário Norte do Espírito Santo da Universidade Federal do Espírito Santo.</p>
        <p>A presente autorização é concedida a título gratuito, abrangendo o uso da imagem acima  mencionada  em  todo  território  nacional  e  no  exterior,  em  todas  as  suas modalidades e sem limite de tempo ou número de utilizações.</p>
        <p>Por  esta  ser  a  expressão  da  minha  vontade  declaro  que  autorizo  o  uso  acima descrito  sem  que  nada  haja  a  ser  reclamado  a  título  de  direitos conexos  à  minha imagem ou a qualquer outro.</p>
        <p>Declaro ainda para os devidos fins, possuir ciência de que os dados, tais como nome, telefone e email poderão ser disponibilizados para contribuição de pesquisas dentro da universidade que contribua para o melhoramento da vivência dos alunos da Universidade Federal do Espírito Santo e para fins comerciais de seletos patrocinadores, que fazem parte da eleição do II Encomp. Sei bem que a  utilização  das  informações em prejuízo das pessoas não será promovida por este evento supracitado.</p>

        São Mateus-ES, 01 de setembro de 2016.
      </div>

      <br />

      <div class="checkbox">
        <label>
          <input type="checkbox" name="user[terms_agree]" value="agree" id="form-agreements"/> Aceito os termos e condições para me inscrever.
        </label>
      </div>

      <div class="actions">
        <%= f.submit "Inscrever-se" %>
      </div>
    <% end %>
    </div>
  <% else %>
    <h2 class="text-center">Desculpe, as inscrições ainda não começaram.</h2> <br />
    <% if false %>
      <h3 class="text-center">Faltam</div> <br />
      <div class="countdown-timer">
      <div class="row">
        <div class="col-sm-offset-5 col-sm-6">
          <span id="ct-days"></span> dias
          <span id="ct-hours"></span> horas
          <span id="ct-minutes"></span> minutos
          <span id="ct-seconds"></span> segundos
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<hr />
